@{
    ViewData["Title"] = "Home Page";
}

<style lang="css">
    body {
        /* Custom styles applied to SagaFlow via CSS variables  */
        --sf-command-selector-label-display: none;
        --sf-command-selector-label-padding: 0.25rem 1rem;
        --sf-command-selector-label-font-size: 1rem;
        --sf-command-selector-value-padding: 0.25rem 1rem;
        --sf-command-selector-value-font-size: 1rem;
        
        --sf-command-form-name-font-size: 2rem;
        --sf-command-form-grid-template: "a b" auto / minmax(6rem, auto) 1fr;
        --sf-command-form-parameters-padding: 0 0 2rem 0;
        --sf-command-form-parameter-description-grid-column: 1 / span 2;
        --sf-command-form-parameter-name-alignment: left;
        --sf-command-form-parameter-value-padding: 0.25rem 1rem;
        --sf-command-form-parameter-description-font-style: italic;
        
        /* Hiding builtin form buttons on the comment form, we will provide our own */
        --sf-command-form-submit-display: none;
        --sf-command-form-reset-display: none;
        
        --sf-command-status-command-column-display: none;
        
        --sf-command-status-header-background: green;
        --sf-command-status-selected-background: blue;

    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>

<div>
    <sf-not-found></sf-not-found>
        
    <sf-command-selector id="myCommandSelector"></sf-command-selector>
    <sf-command-form id="myCommandForm" commandId="backup-database-server"></sf-command-form>
    
    <button id="myCustomSubmit" type="button">Submit Button</button>
    <button id="myCustomReset" type="button">Reset</button>
</div>

<div id="command-successful-toast" class="toast bg-primary text-white fade" style="position: absolute; top: 1rem; right: 1rem;" data-delay="10000">
    <div class="toast-header bg-primary text-white">
        <strong class="me-auto">Success!!!!</strong>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
        
    </div>
</div>

<div>
    <sf-command-statuses />
</div>

<script>

    function showSuccess(commandId, command) {
        $("#command-successful-toast .toast-header > strong").html(`The command ${commandId} was sent to the server successfully.`);
        
        $("#command-successful-toast .toast-body").html(`With the message:  ${JSON.stringify(command)}`);
        
        $("#command-successful-toast").toast("show");
    }
    
    document.addEventListener(
        "DOMContentLoaded",
        () => {
            // An example of subscribing to an event from one Web Component, the Command Selector, then applying the
            // selected command to a second web component, Command-Form.
            
            // When a command has been selected, apply the selection to the command form
            myCommandSelector.addEventListener(
                'sf-command-selected', 
                (e) => {
                    console.log("Command Selected: ", e.detail);
                    
                    myCommandForm.commandId = e.detail.commandId;
                }
            );
             
            // When a command has been successfully sent to the server display a successful message
            myCommandForm.addEventListener(
                'sf-command-success', 
                (e) => showSuccess(e.detail.commandId, e.detail.command)
            );   
            
            myCustomSubmit.addEventListener(
                'click',
                (e) => myCommandForm.submit()
            );
            
            myCustomReset.addEventListener(
                'click',
                (e) => myCommandForm.reset()
            );
        }
    )
    
</script>