@{
    ViewData["Title"] = "Home Page";
}

<script>
    document.addEventListener('sf-command-success', (e) => alert("Successful"));
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    
</div>

<div>
    <sf-not-found></sf-not-found>
        
    <sf-command-form commandId="backup-database-server"></sf-command-form>
</div>